# Node
apps/web/node_modules/
apps/web/.vite/
apps/web/.next/
apps/web/dist/

# Laravel
apps/api/vendor/
apps/api/storage/*
!apps/api/storage/.gitignore
apps/api/bootstrap/cache/
apps/api/.env

# Docker
*.env
docker-compose.override.yml
docker-compose.dev.yml
*.log
*.pid

# IDEs
.idea/
.vscode/
*.sublime*

# OS
.DS_Store
Thumbs.db

# Nginx
nginx/logs/
